/* Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web');


h1{
    color:white;
    font-family: 'Titillium Web', sans-serif;
}
p{
    color:lightgray;
    font-family: 'Roboto', sans-serif;
}
/* Layout */
.page{
    margin:0 auto;
    max-width:80%;
    width:80%
    display: flex;
     background-color: darkblue; 
}

section{
    max-width: 100%;
    width:100%;
}

header, section, main, article, aside, footer{
    flex:1;
}